body{
    font-family: Georgia;
    background-color: hsl(105, 100%, 90%);
}
h1{
    color: hsl(0, 0%, 20%);
    font-size: 3em;
    text-align: center;
}
p{
    color: hsl(0, 0%, 20%);
    font-size: 2em;
    font-style: italic;
    text-align: center;
}
form{
    background-color: white ;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
label{
    color: hsl(0, 0%, 30%);
    font-size: 2em;
    font-weight: bold;
}
input{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsl(0, 0%, 90%);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}
button{
    background-color: hsl(0, 100%, 90%);
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 100%, 80%);
}
button:active{
    background-color: hsl(210, 100%, 70%);
}
#total-amount{
    color: hsl(255, 100%, 85%);
    font-weight: bold;
}